@import "../theme_pywal.css";

/* temperature */

#custom-left_div.2 {
	color: @temperature;
}
#custom-temperature {
	background-color: @temperature;
    padding-right: 1px
}

/* memory */

#custom-left_div.3 {
	background-color: @temperature;
	color: @memory;
}
#memory {
	background-color: @memory;
}

/* cpu */

#custom-left_div.4 {
	background-color: @memory;
	color: @cpu;
}
#cpu {
	background-color: @cpu;
}
#custom-left_inv.1 {
	color: @cpu;
}

/* distro icon */

#custom-left_div.5,
#custom-right_div.2 {
	color: @distro-bg;
}

#custom-distro {
	padding: 1px 7px 1px 0px;
	font-size: 15px;
	background-color: @distro-bg;
	color: @distro-fg;
}

/* idle inhibitor & time */

#custom-right_inv.1 {
	color: @time;
}
#clock.time {
	background-color: @time;
    padding: 0 5px 0 8px;
}
#custom-right_div.3 {
	background-color: @date;
	color: @time;
}

/* date */

#clock.date {
	background-color: @date;
    padding: 0 2px 0 6px;
}
#custom-right_div.4 {
	background-color: @tray;
	color: @date;
}

/* quick settings */

/* #network {
	background-color: @tray;
	padding: 0 6px 0 4px;
} */
/*#bluetooth {
	background-color: @tray;
	padding: 0 5px;
}*/
	
#idle_inhibitor {
	background-color: @tray;
    padding: 1px 6px 0 11px;
}
#custom-hyprsunset {
	background-color: @tray;
    /* font-size: 13px; */
    padding: 0 11px 1px 6px;
}

#custom-system_update {
	background-color: @tray;
	padding-right: 6px
}
#custom-right_div.5 {
	color: @tray;
}
