@import "../theme_pywal.css";

/* theme switcher */

/* #custom-user { */
/* 	padding-right: 12px; */
/* 	font-weight: normal; */
/* } */

/* workspaces */

/* #traygroup { */
/*     color: @accent; */
/* } */
/**/
/* #traylauncher { */
/*     color: @accent; */
/* } */
/**/
/* #tray { */
/*     color: @accent; */
/* } */

#custom-traylauncher {
    color: @accent;
}

#tray {
  padding-left: 6px;
  padding-right: 10px;
  color: #ffffff;
}

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces .persistent label {
	/* font-size: 13px; */
}
#workspaces .active label {
	font-size: 15px;
	color: @accent;
	padding: 0px 5px 0 0;
}

/* window title & count */

/*#window {
	margin-left: 12px;
}
#window label {
	font-weight: normal;
}
#windowcount {
	margin-right: 12px;
}*/
/*#windowcount label {
	color: @hover-fg;
}*/
/*#network {
	background-color: @crust;
	font-size: 20px;
	padding-bottom: 5px;
}*/
